@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Light.ttf');
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: white;
}

wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    height: 100vh;
}

.projectContainer {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #333332;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 5vh 3vw;
}

.projectHeader {
    color: #BB86FC;
    font-size: 4vw;
    font-weight: 100;
    margin-bottom: 1vh;
}

.projectDivider {
    border-top: 1px solid white;
    width: 100%;
}

.projects {
    font-size: 2vw;
    padding-top: 0.5em;
    padding-left: 0.25em;
    border-radius: 10px;
    vertical-align: middle;
}

.projects:hover {
    background-color: #393938;
    cursor: pointer;
}

.addProject {
    color: #BB86FC;

}

.tasksContainer {
    background-color: #393938;
    z-index: 0;
    display: flex;
    flex-direction: column;
    padding: 5vh 3vw;
}

.tasksHeaderContainer {
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.tasksHeader {
    color: #BB86FC;
    font-size: 4vw;
    font-weight: 100;
    margin-bottom: 1vh;
}

.edit {
    justify-self: end;
    align-self: end;
    margin-bottom: 1vh;
}

.edit:hover {
    color: #BB86FC;
    cursor: pointer;
}

.tasksDivider {
    border-top: 1px solid white;
    width: 100%;
}

.tasksSubheader {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 2vw;
    font-weight: 100;
}

.todoContainer {
    font-size: 2vw;
    padding: 8px;
    margin: 0.25em 0;

    display: grid;
    grid-template-columns: 1fr 10fr 3fr;
    
    border: 2px solid white;
    border-radius: 10px;
}

.todoContainer:hover {
    background-color: #525252;
    cursor: pointer;
}

.circle {
    height: 0.75em;
    width: 0.75em;
    border: 2px solid white;
    border-radius: 50%;
    margin: 0.25em 0.4em;
}

.todoTime {
    justify-self: end;
    align-self: center;
    padding-right: 0.4em;
    font-size: 1vw;
}

.addTask {
    color: #BB86FC;
    padding-top: 0.5em;
    padding-right: 0.5em;
    text-align: end;
    font-size: 2vw;
}

.darkOverlay {
    position: fixed;
    z-index: 2;
    background-color: rgba(23, 23, 23, 0.829);
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




.popupContainer {
    position: fixed;
    z-index: 3;
    background-color: #393938;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.exitPopup {
    position: absolute;
    top: 1vh;
    right: 2vw;
}

.exitPopup:hover {
    cursor: pointer;
}

.popupHeading {
    text-align: center;
    margin: 0 auto 0 auto;
}

.taskForm, .timeForm {
    font-family: 'Roboto', sans-serif;
    margin: 1.5vh 10vw 1.5vh 10vw;
    height: 10%;
    border-radius: 10px;
    border: 0.1em solid #393938;
    padding: 0 0.5vw 0 0.5vw;
}

.taskForm:focus, .timeForm:focus {
    outline: none;
}

.confirmForms {
    margin-top: 1.5vh;
    height: 10%;
    background-color: #BB86FC;
    color: white;
    border: 0.1em solid #BB86FC;
    border-radius: 10px;
    align-self: center;
}

@media (max-width: 600px) {
    .popupContainer {
        width: 80vw;
        height: 60vh;
    }

    .popupHeading {
        font-size: 8vw;
    }

    .confirmForms {
        width: 30%;
    }

    .exitPopup {
        font-size: 8vw;
    }
}

@media (min-width: 601px) {
    .popupContainer {
        width: 40vw;
        height: 40vh;
    }

    .popupHeading {
        font-size: 3vw;
    }

    .confirmForms {
        width: 10%;
    }

    .exitPopup {
        font-size: 3vw;
    }
}

.confirmForms:hover {
    background-color: white;
    color: #BB86FC;
}
